@font-face {
    font-family: OpenSans-Regular;
    src: url("font/OpenSans-Regular.ttf") format("truetype");
}

body{
  font-family: 'OpenSans-Regular' !important;
}


.bg-primaax{
    background-color:#2d3b5e;
}

.navbar-menu li.active{
	border-bottom: 4px solid #c39343;
}

.navbar-menu li a{
	font-size:11pt;
}


 a {
        text-decoration: none !important;
      }
      .card-product-slider{
        background-color: #2D3B5E;
        border-width: 0px;
        color:#fff;
        border-radius: 15px;
        height: 230;
        //overflow: hidden;
      }

      .card-news-slider{
        background-color: #2D3B5E;
        border-width: 0px;
        color:#fff;
        border-radius: 15px;
        height: 300;
        overflow: hidden;
      }

      .card-product-slider img, .card-news-slider img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .card-product-slider .card-body .card-desc, .card-news-slider .card-body .card-desc{
        font-size: 13px;
      }

      .card-product-slider .card-body .card-desc-product, .card-news-slider .card-body .card-desc-product {
      
        font-size:9.5pt;
      }

      .img-card-product-slider{
        height: 150px;
        object-fit: cover;
      }


      .btn-owl-slider{
        box-shadow: none !important;
      }

      .btn-slide-carousel{
          border: thin solid #2a385a;
          border-radius: 200px;
          padding:20px 26px;
      }

      .btn-slide-carousel i{
        color: #287cdb  !important;
        font-size:30px;
      }

      .carousel-indicator-dots{
        width: 10px !important;
        height: 10px !important;
        border-radius: 100%;
      }

      .btn-daftar-sekarang{
        background-color: #C39343;
        font-weight: 600;
        color:#fff;
        border-color: #2D344A;
      }

      .bg-navy{
        background-color: #101A33;
      }


      .col-footer-socmed ul{
        padding:0px;
      }

      .col-footer-socmed ul li{
        background-color: transparent !important;
        border: none !important;
        padding:10px;
      }


      .col-footer-socmed ul li a img{

      }

      .ribbon-wrapper {
          width: 85px;
          height: 88px;
          overflow: hidden;
          position: absolute;
          top: -3px;
          right: -3px
      }
      .ribbon {
          font-size: 12px;
          color: #FFF;
          text-transform: uppercase;
          font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          letter-spacing: .05em;
          line-height: 15px;
          text-align: center;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          position: relative;
          padding: 7px 0;
          right: -11px;
          top: 10px;
          width: 100px;
          height: 28px;
          -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
          box-shadow: 0 0 3px rgba(0, 0, 0, .3);
          background-color: #dedede;
          background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
          background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
          background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
          background-repeat: repeat-x;
          filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0)
      }

      .ribbon:before,
      .ribbon:after {
          content: "";
          border-top: 3px solid #9e9e9e;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          position: absolute;
          bottom: -3px
      }

      .ribbon:before {
          left: 0
      }

      .ribbon:after {
          right: 0
      }

      .ribbon.green {
          background-color: #2da285;
          background-image: -webkit-linear-gradient(top, #2da285 45%, #227a64 100%);
          background-image: -o-linear-gradient(top, #2da285 45%, #227a64 100%);
          background-image: linear-gradient(to bottom, #2da285 45%, #227a64 100%);
          background-repeat: repeat-x;
          filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff2da285', endColorstr='#ff227a64', GradientType=0)
      }

      .ribbon.green:before,
      .ribbon.green:after {
          border-top: 3px solid #113e33
      }

      .ribbon.red {
          background-color: #bc1a3a;
          background-image: -webkit-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
          background-image: -o-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
          background-image: linear-gradient(to bottom, #a61733 45%, #bc1a3a 100%);
          background-repeat: repeat-x;
          filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa61733', endColorstr='#ffbc1a3a', GradientType=0)
      }

      .ribbon.red:before,
      .ribbon.red:after {
          border-top: 3px solid #8f142c
      }


        .slick-slide {
          margin: 0px 20px;
        }

        .slick-slide img {
          width: 100%;
          height: 250px;
          object-fit:cover;
        }

        .slick-prev:before,
        .slick-next:before {
          color: black;
        }


        .slick-slide {
          transition: all ease-in-out .3s;
          opacity: .2;
        }
        
        .slick-active {
          opacity: .5;
        }

        .slick-current {
          opacity: 1;
        }

 /*  Contact Page */

 .bg-contact-page{
    background-image: url("{{ asset('/images/sample-gambar1.jpg') }}");
    background-size: cover;
  }

  .breadcrumb-contact {
    background:none !important;
  }


  .breadcrumb-item-contact {
    color:#fff !important;
  }

  .breadcrumb-item-contact a{
    color:#fff !important;
  }

  .breadcrumb-item-contact+.breadcrumb-item-contact::before{
    content: ">" !important;
    color:#fff !important;

  }

  .form-contact .form-group input, .form-contact .form-group textarea {
    background-color: transparent;
    border-color:#4A5A80;
    padding: 25px 25px 25px 25px;
  }

  .alert-absolute{
    position: absolute;
    top: 2%;
    z-index: 99999; 
  }

  #moreInfo {
      position: unset;
      border-radius: 1em;
      overflow: hidden;
      width: 100%;
  }

  /* ABOUT PAGE */

  .bg-about-page{
    background-image: url("{{ asset('/images/sample-gambar1.jpg') }}");
    background-size: cover;
  }

  .breadcrumb-about {
    background:none !important;
  }

  .breadcrumb-item-about {
    color:#fff !important;
  }

  .breadcrumb-item-about a{
    color:#fff !important;
  }

  .breadcrumb-item-about+.breadcrumb-item-about::before{
    content: ">" !important;
    color:#fff !important;

  }


  /* PARTNER PAGE */

.bg-partner-page{
    background-image: url("{{ asset("/images/banner inner page.png") }}");
    background-size: cover;
  }

  .breadcrumb-partner {
    background:none !important;
  }

  .breadcrumb-item-partner {
    color:#fff !important;
  }

  .breadcrumb-item-partner a{
    color:#fff !important;
  }

  .breadcrumb-item-partner+.breadcrumb-item-partner::before{
    content: ">" !important;
    color:#fff !important;

  }

  .list-group-product a, .list-group-product a:focus{
    background-color: #2D3B5E !important;
    color:#fff;
    font-weight: bold;
  }


  .list-group-product a:hover{
    color: aqua !important;
  }


  .list-group-product-jr li{
    background-color: #2D3B5E !important;
    padding-left:50px !important; 
    font-size:13px;
    color:#fff !important;
    border: none !important;
  }


  .list-group-product-jr a{
    text-decoration: none !important;
  }

  .list-group-product-jr a:hover, .list-group-product-jr a:focus{
    color: #395B98 !important;
  }


  /*.accordion-toggle:after {
      font-family:'FontAwesome';
      content:"\f106";
      float: right;
      color: inherit;
  }

  .collapsed .accordion-toggle:after {
      content:"\f107";
  }*/

  .map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .btn-lokasi{
    background-color: #C39343;
    border:none !important;
    color:#fff !important;
  }

  .form-partner{
    background-color: transparent !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
  }

  .form-partner-group{
    background-color: transparent !important;
    border:1px solid #fff !important;
    border-radius: 5px !important;
    border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: none !important;
  }

  .button-partner-group{
    background-color: transparent !important;
    border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none !important;
      color: #fff !important;
  }


  #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
       display: none;
    }

    #map-canvas #infowindow-content {
        display: inline;
    }
  

/* PRODUCT PAGE*/
.bg-product-page{
    background-image: url("{{ asset("/images/banner inner page.png") }}");
    background-size: cover;
  }

  .breadcrumb-product {
    background:none !important;
  }

  .breadcrumb-item-product {
    color:#fff !important;
  }

  .breadcrumb-item-product a{
    color:#fff !important;
  }

  .breadcrumb-item-product+.breadcrumb-item-product::before{
    content: ">" !important;
    color:#fff !important;

  }

  .list-group-product{
    border-radius: 20px; 
    border:0 !important;
    background-color: #2D3B5E !important;
  }


  .list-group-product div{
    color:#fff;
    border-radius: 0px !important;
    background-color: transparent !important;

    border:0 !important;
    border-bottom : 1px solid rgba(0,0,0,.125) !important;
  }

  .list-group-product div:hover, .list-group-product div:hover a.text-category{
    color: aqua !important;
  }



  .list-group-product a, .list-group-product a:focus{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
  }


  .list-group-product a:hover{
    color: aqua !important;
  }


  .list-group-product-jr li{
    background-color: transparent !important;
    padding-left:50px !important; 
    font-size:13px;
    color:#fff !important;
    border: none !important;
  }


  .list-group-product-jr a{
    text-decoration: none !important;
  }

  .list-group-product-jr a:hover, .list-group-product-jr a:focus{
    color: aqua !important;
  }


  .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      content:"\f106";
      float: right;
      color: inherit;
  }

  .collapsed .accordion-toggle:after {
      /* symbol for "collapsed" panels */
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900; 
      
      content:"\f107";
  }

/* RESELLER PAGE*/
.bg-reseller-page{
    background-image: url("{{ asset("/images/banner inner page.png") }}");
    background-size: cover;
  }

  .breadcrumb-reseller {
    background:none !important;
  }

  .breadcrumb-item-reseller {
    color:#fff !important;
  }

  .breadcrumb-item-reseller a{
    color:#fff !important;
  }

  .breadcrumb-item-reseller+.breadcrumb-item-reseller::before{
    content: ">" !important;
    color:#fff !important;

  }

  .col-form-reseller{
    background-color: #2d3b5e;
    border-radius: 1em;

    padding: 25px 60px 25px 60px;

  }

  .form-reseller .custom-file .custom-file-label{
    background-color: transparent;
    border-color:#fff;
    margin-left: 5px;
    margin-right: 5px;
    width:75%;

    padding: 15px 25px 35px 25px;
    color:#fff;

  }


  .form-reseller .custom-file .custom-file-label::after{
    margin-left:0%;
    border-radius: 5em;
    right:-32%;
    width:auto;
    text-align: center;
    background-color:#2d3b5e;
    border:thin solid #287cdb;
    color:#287cdb;
    content: "BROWSE";

    padding: 15px 25px 35px 25px;

  }

  .form-reseller .form-group input, .form-reseller .form-group textarea {
    background-color: transparent;
    border-color:#fff;
    padding: 25px 25px 25px 25px;
    color:#fff;
  }

  .form-reseller .form-group select{
    background-color: transparent;
    height:52px;
    border-color:#fff;
    color:#fff;
    padding-left: 25px;
  } 

  .custom-select-icon::after{
    position: absolute;
    top:7px;
    right: 10px;
    text-align: center;
    background-color:#2d3b5e;
    color:#fff;
    /*font-family:'FontAwesome';
      content:"\f107";*/
      font-size: 20px;
      font-weight: bold;
    -webkit-appearance: none;
      appearance: none;

    padding: 5px;

  }

  .custom-icon-select{
    background: url("{{ asset('/images/icon-select-angle-down.jpg') }}")  no-repeat 98% center;
    background-size:16px;

  }

  

  .form-reseller .form-group select option{
    color:#4A5A80;
  } 


  .styled-select {
     background: url("{{ asset('/images/icon-select-angle-down.jpg') }}") no-repeat 96% 0;
     height: 29px;
     overflow: hidden;
     width: 100%;
  }

  .styled-select select {
     background: transparent;
     border: none;
     font-size: 14px;
     height: 29px;
     padding: 5px; /* If you add too much padding here, the options won't show in IE */
     width: 110%;
  }

  .styled-select.slate {
     background: url("{{ asset('/images/icon-select-angle-down.jpg') }}") no-repeat 96% center;
     background-size: 16px; 
     height:52px;
  }

  .styled-select.slate select {
      border: 1px solid #4A5A80;
    padding: 5px;
      font-size: 16px;
      height: 52px;
      border-radius: .25em;
  }




@media (max-width: 576px) {

    .main-gallery{
      height: 300px;
    }

    .card-gall-slider a img{
      height:300px; 
      background:#fff; 
      object-fit:cover
    }


    .item-background img{
        height: auto;
        max-height:15vh;
        object-fit: cover;
      /*min-height: 350px !important;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
}


@media (max-width: 768px) {
    .main-gallery{
      height: 300px;
    }
    
    .card-gall-slider a img{
      height:300px; 
      background:#fff; 
      object-fit:cover
    }
    .item-background img{
        height: auto;
        max-height:25vh;
        object-fit: cover;
      /*min-height: 350px !important;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
}


@media (min-width: 767px) {

    .card-gall-slider a img{
      height:430px; 
      background:#fff; 
      object-fit:cover
    }

    .item-background img{
        height: auto;
        max-height:35vh;
        object-fit: cover;
      /*min-height: 350px !important;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
}


@media (min-width: 900px) {
  .card-gall-slider a img{
      height:430px; 
      background:#fff; 
      object-fit:cover
    }
    .item-background img{
        height: auto;
        max-height:50vh;
        object-fit: cover;
      /*min-height: 350px !important;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
    }
}
  
.div-gplay{
  background-color: #0D162C;
}

.bg-navy{
	background-color: #0D162C;
}



.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}